<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supets.pet.supetscamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name=".camera.activity.CameraPictureActivity">
            <intent-filter>
                <action android:name="android.intent.action.SUPETSCAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="camera"
                    android:scheme="supets" />
            </intent-filter>
        </activity>
    </application>

</manifest>