<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.supets.commons">
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application>

    </application>

</manifest>
